<strong>Olá, {{ deliveryman }}</strong>
<p>A encomenda <strong>{{delivery}}</strong> teve a entrega cancelada:</p>
<p>
  <strong>Produto: {{ product }}</strong> <br />
  <strong>Cliente: </strong> {{ recipient }}<br />
  <strong>Endereço: </strong> {{ address }}<br />
  <strong>Motivo:</strong><div style="color:brown;">{{problem}}</div>
</p>
